body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    margin-top: 50px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .container_2 {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forecast-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .forecast-item h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .forecast-item p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .city::before {
    content: "City: ";
  }
  
  .country-code::before {
    content: "Country Code: ";
  }
  